@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Satoshi', sans-serif;
}

@font-face {
    font-family: "BBHSansBogle";
    src: url("../fonts/BBHSansBogle-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Italic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-MediumItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-BoldItalic.ttf") format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../fonts/Satoshi-BlackItalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
